

.sora {
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .adlam-display-regular {
   font-family: "ADLaM Display", serif;
   font-weight: 400;
   font-style: normal;
 }
 
  span{
    color: #FFDC26;
  }
 hr{
    display: none;
 }
 .menu{
   display: none;
 }
